SECRET_KEY=your-secret-key
DEBUG=True

DB_ENGINE=django.db.backends.postgresql
DB_NAME=catalog_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@shop.example.com
ADMIN_EMAIL=admin@shop.example.com
